<%- include('header')%>
<h2>about page</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta labore minima
  inventore delectus excepturi ratione quos aliquid suscipit aspernatur fugiat
  cumque placeat quod illum tempore explicabo voluptatum veniam, accusamus
  velit.
</p>
<%- include('footer')%>
